body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* #recover-password:parent {
  display: none !important;
  visibility: hidden important;
} */

.authForm {
  margin: auto;
  padding: 5%;
  width: 500px;
}
ul {
  list-style-type: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: space-between;
  background-color: rgb(238, 238, 238);
}

button {
  padding: 0.5em;
  border-radius: 5px;
}
.nav-item {
  margin-left: 1em;
  border: none;
  background-color: rgb(238, 238, 238);
}

.nav-item:hover {
  background-color: rgb(225, 222, 222);
}

.portfolio {
  /* background-color: aqua; */
  /* display: grid;
  grid-template-columns: 50% 500px; */
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.positionsList {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  /* border: 3px solid black; */
  width: 500px;
  margin: 1em;
  align-self: end;
}
.positionCard {
  width: 100%;
  margin: 1em;
  padding-bottom: 1em;
  /* text-align: left; */
  text-align: justify;
  /* display: grid;
  grid-template-columns: 10% 10% 10% 10% outo; */
  border-bottom: 2px solid grey;
}

.buyForm {
  /* padding: 1em; */
  display: grid;
  grid-template-columns: outo;
  justify-items: center;
  border: 3px solid black;
  width: 500px;
  margin: 1em;
}
.formBody {
  width: 100%;
  padding: 1em;
}

.formItem {
  width: 90%;
  /* padding: 1em; */
  margin: 1em;
  text-align: left;
}
.formItem input {
  width: 100%;
}

.up {
  color: green;
}

.down {
  color: red;
}

.same {
  color: grey;
}

h1 {
  font: bold 34px 'Century Schoolbook', Georgia, Times, serif;
  color: #333;
  line-height: 90%;
  margin: 0.2em 0 0.4em 0;
  letter-spacing: -2px;
}

h3 {
  font: bold 28px 'Century Schoolbook', Georgia, Times, serif;
  color: #333;
  line-height: 90%;
  margin: 0.2em 0 0.4em 0;
  letter-spacing: -2px;
}

.transactionList {
  width: 500px;
  /* border: 3px solid black; */
  margin: auto;
  padding: 0.5em;
  text-align: left;
}

.transactionCard {
  width: 100%;
  padding-bottom: 1em;
  border-bottom: 2px solid grey;
  margin: 1%;
}

.font {
  font-family: Gill Sans, Verdana;
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
